html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Pug Page
    body
    h1 Welcome to the Pug!!!
    p #{name} lives at #{address.street}, #{address.city}