html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
        h1 USERS

        ul
        each person in users
            p #{person.name} #{person.age} years old.