body {
    background-image: url("https://www.lifewire.com/thmb/BQdMoVsHlk8HaZiZ2tv0elBfFO8=/1920x1080/filters:no_upscale():max_bytes(150000):strip_icc()/tropical-beach-wallpaper-beach-backgrounds-587fbb765f9b584db3241860.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    border-style: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 550px;
    margin-right: 550px;
    font-style: normal;
    text-align: center;
    background-color: white;
    border-radius: 20px;
}
button{
    background-color: white;
    border: 2px solid red;
    border-radius: 10px;
    font-weight: bold;
    font-size: medium;
    opacity: 0.6;
    cursor: pointer;

}
button:hover {
    background-color: purple;
    box-shadow: 0 5px;
    transform: translate(4px);

}